<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Incidencias Asignada</h4>
    </div>
    <div class="panel-body">
        Mis Incidencias
    </div>
</div>
<hr />
<div class="panel panel-warning">
    <div class="panel-heading">
        <h4>Incidencias Sin Asignada</h4>
    </div>
    <div class="panel-body">
        Incidencias Sin asignaciones
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4>Incidencias Completadas</h4>
    </div>
    <div class="panel-body">
        Incidencias Completa
    </div>
</div>